/* ESTILO GRAL */
*{
    font-family: 'Roboto';
    color: white;   
    text-align: center;
}
/* DISEÑO */
html,body,main{
    width: 100%;
    margin: 0;
    padding: 0;
}
/* SELECTORES */
body{
    background-image: url("./img/fondo.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

section{
    width: 100%;
}
header{
    height: 200px;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 150px 1fr;
}
nav{
    grid-row: 2/3;
    grid-column: span 2;
    width:100%;
    height:40px;
}
a:any-link{
    cursor: pointer;
}
a:-webkit-any-link{
    cursor: pointer;
}
a:-moz-any-link{
    cursor: pointer;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    max-height: 250%;
    /* esto es porque se hace otra fila al ir haciendose mas estrecho y para que no se hagan mas de dos filas */
}

li {
    float: left;
}
/* asi solo se aplica en i, cuando te pones encima del enlace (a) */
a:hover i{
    color: red;
}
header div{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
header div p{
    padding-right: 15px;
}
header img{
    width: 120px;
    height: 120px;
    padding-left: 40px;
    padding-right:40px;
    padding-top: 20px;
}
header div h1{
    padding-left: 0;
    padding-bottom: 4%;
}
footer{
    padding-top: 24px;
}
summary{
    font-size: 25px;
    color:#ced4da;
}
details p{
    color:#ced4da;
    font-size: 12px;
}
th{
    height: 60px;
}
td{
    text-align: center;
    color: black;
}
td.ip{
    color: white;
}
table, th, td{
    border: 1px;
    border-collapse: collapse;
    border-color: black;
    margin-left: 10%;
    align-content: center;
    text-align: center;
}
table{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
}
tbody, tr{
    width: fit-content;
}
#accesorios h1{
    padding-top: 24px;
}
iframe{
    border-radius: 15px;
}

/* CLASES & ID */

/* Clases */
.cajaCarrusell{
    padding-top: 50px;
}
.navDerecha{
    float: right
}
.tituloSeccion{
    margin-top: 0;
    font-size: 40px;
    text-align: center;
}
.aviso{
    text-align: justify;
    font-family: arial;
    text-align: left;
    color: #ced4da;
    margin-left: 40px;
    margin-right: 40px;
}
.subrasu{
    text-decoration: underline;
    text-decoration-color: red;
}
.red{
    color: red;
}
.subrayar{
    text-decoration: underline;
    text-decoration-color: white;
}
.sombra{
    text-shadow: 2px 2px 5px red;
}
.margeniz{
    margin-left: 15px;
}
.cochesFoto{
    width:555px;
    height: 350px;
}
.carrusel-elemento {
    float: left;
    width: 33.333%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carrusel-elemento img{
    height: 200px;
    width: auto;
}
.imgjuntas-carrusell {
    float: left;
    padding: 15px;
    box-sizing: border-box;
}
.negro{
    color: #000000;
    background-color: lightgray;
}
/* ID */
/* -----Secciones */
#vehiculosPersonalizables{
    padding-top: 24px;
}
#seccionPolitica{
    padding-top: 72px;
}
#accesorios{
    padding-top: 50px;
}
#avisoLegal{
    padding-top: 50px;
}
#formulario{
    max-width: 100%;
    /* flex-direction: column;
    align-items: center; */
}
#trabajoEnEquipo{
    padding-top: 24px;
    margin-bottom: 50px;
}
#presentation{
    width:850px;
    height: 400px;
    padding: 10px;
    border: 10px solid red;
}
#media-oculto{
    visibility: hidden;
    height: 0;
}
#noscript{
    display:none;
    visibility:hidden;
    width: 0;
    height: 0;

}
#berlinas{
    padding-top: 24px;
}
#trabajoEnEquipo h1{
    text-align: center;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 20px;
}
#contenido-video{
    display: flex;
    align-items: center;
    justify-content: center;
}
p#titledesc{
    font-weight: 700;
    font-size: 300%;
    padding-top:4% ;

}
#desc{
    text-align: center;
    text-align: justify;
    padding-top: 10%;

}
#icon{
    width:14%;
    height:300%;
    float: left;
    padding-top: 2%;
}
#icon2{
    width:14%;
    height:300%;
    float: right;
    padding-top: 2%;
}
a#fixedtexto{
    color: red;
    float: left;
    text-align: left;
    margin-left: -70px;
    margin-top: -50px;
    text-decoration: underline;
    text-decoration-color: red;


}
#total{
    margin-right: 20px;
    padding: 10px;
    height: 98%;
    width: 98%;
}
#header{
    height: 15%;
    width: 100%;
    padding: 10px;
    text-align: center;
}
#texto{

    padding: 5px;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}
#fixedtexto{
    padding-top: 2%;
    position: fixed;
    height: 100px;
    width: 252px;
    text-align: center;
    text-decoration: underline;
    text-decoration: overline;
    text-decoration-color: red;

}
#fotoCoche{
    padding-top: 45px;
}
#contenedor-tabla{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#general td, #general th {
  border: 2px solid #000000;
  padding: 8px;
}

#general tr:nth-child(even){
    background-color: #f2f2f2;
}

#general th {
  text-align: center;
  background-color: #ced4da;
  color: black;
}


h1{
    text-align: left;
    padding-left: 50px;
    font-size: 25px;
    color: #ced4da;
}

/* TODO LOS FLEX DE FOTOS */
.contenedor-fotos{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.contenedor-fotos div{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor-fotos div img{
    width: 100%;
    height: auto;
}

/*Todo lo que respecta al formulario*/
form{
    display: grid;
    grid-template-columns: 10% 30%;
    grid-template-rows: repeat(4, 50px);
    gap: 5px;
    place-content: center;
    color: #000000;
}
label{
    grid-column: 1/2;
    text-align: left;

}
form div{
    grid-column: span 2;
}
form div input{
    width: 100%;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    height:50%;
}
input{
    color: #000000;
    text-align: left;
    padding-left: 5px;
}
textarea{
    color: #000000;
    padding: 5px;
    text-align: left;
    max-width: 100%;
    height: 110%;
    max-height: 120%;
}




/* ---------------------------------------------DROPDOWN, ANIMACIONES Y SLIDES--------------------------------------------- */

/* Pequeña nota: está todo hecho con contenidos que he dado en clase y con ejemplos que hemos hecho, tanto de dropdowns como de animaciones */

/*clases*/
li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.nav-inicio {
  background-color: red;
}
.topnav {
  overflow: hidden;
  background-color: #333;
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
/*id's*/
#carrusel-caja {

    -moz-animation: automatizacion 12s infinite linear;
    -o-animation: automatizacion 12s infinite linear;
    -webkit-animation: automatizacion 12s infinite linear;
    animation: automatizacion 12s infinite linear;
    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -ms-transition: all 0.75s ease;
    -o-transition: all 0.75s ease;
    transition: all 0.75s ease;
    height: max-content;
    width: 300%;
    align-content: center;
    padding-bottom: 50px;
    padding-top: 24px;
    padding-left: 5%;
}
#carrusel-contenido {
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
}
/*animaciones compatibles con mayoria de navegadores*/
@-moz-keyframes automatizacion {
    0% {
        margin-left: 0;
    }
    30% {
        margin-left: 0;
    }
    35% {
        margin-left: -100%;
    }
    65% {
        margin-left: -100%;
    }
    70% {
        margin-left: -200%;
    }
    95% {
        margin-left: -200%;
    }
    100% {
        margin-left: 0;
    }
}
@-webkit-keyframes automatizacion {
    0% {
        margin-left: 0;
    }
    30% {
        margin-left: 0;
    }
    35% {
        margin-left: -100%;
    }
    65% {
        margin-left: -100%;
    }
    70% {
        margin-left: -200%;
    }
    95% {
        margin-left: -200%;
    }
    100% {
        margin-left: 0;
    }
}
@keyframes automatizacion {
    0% {
        margin-left: 0;
    }
    30% {
        margin-left: 0;
    }
    35% {
        margin-left: -100%;
    }
    65% {
        margin-left: -100%;
    }
    70% {
        margin-left: -200%;
    }
    95% {
        margin-left: -200%;
    }
    100% {
        margin-left: 0;
    }
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: white;
  color: black;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: white;}

.dropdown:hover .dropdown-content {
  display: block;
}


/* ---------------------------------------------------------------MEDIA QUERY------------------------ */
@media (width < 800px){
    #presentation{
        width: 0;
        height: 0;
        visibility: hidden;
    }
    img{
        transform: scale(0.8);
    }
    #media-oculto{
        visibility: visible;
        padding-top: 12px;
        padding-bottom: 24px;
        height: auto;
    }
    iframe{
        visibility: hidden;
        height: 0;
        
    }
    /* Para sobreescribir el scale x 0.8 de antes */
    .imgjuntas-carrusell{
        transform: scale(1);
    }
    *{
        font-size: 12px;
    }
    .tituloSeccion{
        font-size: 21px;
    }
    .sombra{
        font-size: 18px;
    }
    .subrayar{
        font-size: 18px;
    }
    header{
        width: 100%;
        grid-template-columns: 120px 1fr;
    }
    header img{
        padding: 0;
    }
    header div{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    header div p{
        visibility: hidden;
        width: 0;
        height: 0;
    }
    th,td{
        margin: 1px;
    }
    tr{
        width: 50%;
    }
    form label{
        font-size: 65%;
    }
    textarea{
        height: 100%;
        max-height: 80%;
    }
    #enlaceFotoCoche{
        display: block;
        height: 0;
        width: 0;
    }
    summary{
        font-size: 18px;
    }
    
}

/* media para el flex de las fotos al ser mas pequeño */
@media (width < 500px) {
    .contenedor-fotos{
        gap: 10px;
        
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}